.card {
  margin: 2%;
}
.active {
  transform: scale(1.04);
  box-shadow: 5px 5px 5px rgb(101, 101, 101);
  position: relative;
  z-index: 10;
}
.title {
  border-bottom: 1px solid white;
  font-size: 20px;
  font-weight: 300;
  color: white;
  height: 50px;
  align-content: center;
}
.price_tag {
  height: 100px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
.price {
  font-size: 50px;
}
.speed {
  height: 50px;
  color: rgb(126, 126, 126);
  align-content: center;
}
.description {
  height: 50px;
  background-color: rgb(238, 238, 238);
  color: rgb(126, 126, 126);
  align-content: center;
}
.price_tag {
  opacity: 0.8;
}
.blue {
  background-color: rgba(35, 155, 171);
}
.green {
  background-color: rgb(31, 137, 114);
}
.red {
  background-color: rgb(198, 83, 76);
}
.graphite {
  background-color: rgb(40, 47, 55);
}
